<div style="background-color:black;">
    <a routerLink="/" routerLinkActive="activated" [routerLinkActiveOptions]={exact:true}>  
      <img src="https://fontmeme.com/permalink/190127/f5d988884f10e10179b0be124dce333b.png" alt="netflix-font" border="0">
    </a>
   <div style=' float:right; margin: 10px 10px; width:30%; background: black;'class="input-group">
      <input id="1" class="form-control" type="text" name="search" [(ngModel)]='this.dataService.searchquery' placeholder="Search..." required/>
      <span class="input-group-btn">
        <a routerLink="/movies" routerLinkActive="activated" [routerLinkActiveOptions]={exact:true}>
          <button [disabled]='this.dataService.searchquery == ""' (click)='this.dataService.search()'class="btn btn-primary" type="submit">
            <i class="glyphicon glyphicon-search" aria-hidden="true"></i> Search
          </button>
        </a>
      </span>
    </div>
  </div>
<div style="text-align:center; height:100%;">
  <br>
  <router-outlet></router-outlet>
</div>
  