/* You can add global styles to this file, and also import other style files */
html body{
    margin: 0% !important;
    
    background-image:  url('./assets/bg.jpg');
    background-attachment:fixed;
    /* background-color: #5d5C61;    */
    
}